<div class="media">
	<div class="media-top text-center">
		<h3><strong> Meet Guidebooks</strong> </h3>
		<p> Discover hundreds of local spots recommended by Airbnb hosts </p>
	</div>

	<div class="media-body">
		<div class="row">
				<div class="homepage-img col-sm-4"><%= image_tag("japan.jpg") %></div>
				<div class="homepage-img col-sm-4"><%= image_tag("london.jpg")%></div>
				<div class="homepage-img col-sm-4"><%= image_tag("paris.jpg")%></div>
		</div>
	</div>
</div>




<%= image_tag("rome.jpg")%>
<%= image_tag("sf.jpg")%>
<%= image_tag("venice.jpg")%>
<%= image_tag("thaland.jpg")%>